* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 20%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }


  .top {
    text-align: center;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
