<ion-content [fullscreen]="true" >
  
  <div class="top">
    <h1>Come ti senti oggi?</h1>
  </div>

  <div class="row">

     <div class="column" >
       <img id="ARRABBIATO" src="assets/imgs/arrabbiato.png" alt="arrabbiato" style="width:100%" (click)="ImageClick($event)">
     </div>
     <div class="column" >
       <img id="TRISTE" src="assets/imgs/triste.png" alt="triste" style="width:100%" (click)="ImageClick($event)">
     </div>
     <div class="column" >
       <img id="MODERATO" src="assets/imgs/moderato.png" alt="moderato" style="width:100%" (click)="ImageClick($event)">
     </div>
     <div class="column" >
       <img id="FELICE" src="assets/imgs/felice.png" alt="felice" style="width:100%" (click)="ImageClick($event)">
     </div>
     <div class="column">
       <img id="ottimoUmore" src="assets/imgs/ottimoUmore.png" alt="ottimoUmore" style="width:100%" (click)="ImageClick($event)">
     </div>
  </div>

</ion-content>  

